.top {
	text-align: right;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

.container {
}

.breadcrumb {
	padding: 2px 0 2px 150px;
}

.breadcrumb li {
	vertical-align: middle !important;
	color: #1e4025;
}

.content-leftColumn {
	position: absolute;
	width: 200px;
	padding-left: 100px;
	color: #999;
}

.content-centerRightColumn {
	margin-left: 30%;
	padding-right: 80px;
}

footer {
	margin-top: 50px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	height: 110px;
	
	background-color: #1e6d36; /* #318e31 verde um pouco mais claro */
	border-top: solid 4px;
	border-top-color: #33aa33; 
	
	font-size: 11px;
}

footer .top-logo {
	position: relative;
	top: -13px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    margin-left: 0 !important;
    text-align: center;
}

footer li {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	
	*zoom: 1;
}

footer a {
	color: #66a866; /*#7eb67e;*/
	font-family: tahoma;
}

footer a:hover {
	color: #a0d0a0;
	text-decoration: none;
}	

footer .divider {
  padding: 0 5px;
  color: #548854;
}