{% extends 'base.html' %}

{% block content %}
    <h1>Cadastrar nova conta</h1>
    <form class="well" action="." enctype="multipart/form-data" method="POST">
        {% csrf_token %}
	    {{ form.non_field_errors }}
	    <div class="fieldWrapper">
	        <label for="id_name">Nome completo:</label>
	        {{ form.name.errors }}
	        {{ form.name }}
	    </div>
	    <div class="fieldWrapper">
	        <label for="id_email">Email:</label>
	        {{ form.email.errors }}
	        {{ form.email }}
	    </div>
    	<hr />
	    <div class="fieldWrapper">
	        <label for="id_username">Login:</label>
	        {{ form.username.errors }}
	        {{ form.username }}
	    </div>
	    <div class="fieldWrapper">
	        <label for="id_password">Senha:</label>
	        {{ form.password.errors }}
	        {{ form.password }}
	    </div>
	    <div class="fieldWrapper">
	        <label for="id_confirmPassword">Confirmacao da Senha:</label>
	        {{ form.confirmPassword.errors }}
	        {{ form.confirmPassword }}
	    </div>
    	<hr />
	    <div class="fieldWrapper">
	        <label for="id_birthday">Data de Nascimento:</label>
	        {{ form.birthday.errors }}
	        {{ form.birthday }}
	    </div>
	    <div class="fieldWrapper">
	        <label for="id_sex">Sexo:</label>
	        {{ form.sex.errors }}
	        {{ form.sex }}
	    </div>
    	<hr />
        <input class="btn btn-primary" type="submit" value="Confirmar">
    </form>
{% endblock content %}